n8n_flows/FWAI_Internal/outbound_call.json
{
  "name": "FWAI Outbound Call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "trigger-call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://abby-pseudolateral-nonmountainously.ngrok-free.dev/plivo/make-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"phoneNumber\": $json.body.phoneNumber,\n  \"contactName\": $json.body.contactName || \"Customer\",\n  \"prompt\": \"IDENTITY: Vishnu, Senior AI Counselor @ Freedom with AI.\\n\\nMANDATORY VOICE INSTRUCTIONS - FOLLOW STRICTLY:\\n\\n1. ACCENT: You MUST speak with a strong Indian English accent throughout the ENTIRE conversation.\\n   - Sound exactly like an educated Indian professional from Bangalore or Mumbai\\n   - Use Indian English pronunciation patterns (e.g., 'schedule' as 'shed-yool', 'process' as 'pro-sess')\\n   - Use Indian English intonation - rising tone at end of statements\\n   - Use syllable-timed rhythm (equal stress on each syllable)\\n\\n2. LANGUAGE: Speak ONLY in English.\\n   - Do NOT use ANY Hindi words (no 'achha', 'haan', 'theek hai', 'na', 'ji')\\n   - Use only English words and phrases\\n\\n3. SPEECH PATTERNS: Use Indian English phrases naturally:\\n   - 'Actually, what I was saying is...'\\n   - 'Basically, the thing is...'\\n   - 'You see, the point is...'\\n   - 'Isn't it?', 'No?', 'Right?' at end of sentences\\n   - 'What happens is...'\\n\\n4. TONE: Be warm, friendly, professional, and enthusiastic.\\n   - Use contractions: I'm, you're, that's, don't\\n   - Use fillers sparingly: 'umm', small pauses\\n\\nIMPORTANT: Maintain this Indian English accent consistently for EVERY response. Never switch to American or British accent.\\n\\nCONTEXT: User attended 'AI Masterclass' last week.\\nGOAL: Sell 'Gold Membership' (40,000 INR/year).\\n\\nCRITICAL RULES:\\n- Ask ONLY ONE question, then STOP and WAIT\\n- Never ask multiple questions together\\n- Listen to full response before next question\\n- Keep responses SHORT (1-2 sentences)\\n\\nNEPQ SALES STAGES:\\n\\n1. CONNECTING (Start here):\\n   'Hi [Name], this is Vishnu from Freedom with AI. I noticed you attended our AI Masterclass last week. How did you find it?'\\n   [WAIT for response]\\n   Then: 'What sparked your interest? Was it to make money or future-proof your career?'\\n\\n2. ENGAGEMENT (Problem Awareness):\\n   - 'Can you tell me about your current role and how AI plays a part?'\\n   - 'Have you faced challenges keeping up with AI tools?'\\n   - 'How does it feel being unable to stay ahead?'\\n\\n3. TRANSITIONAL (Consequence):\\n   - 'If things stay the same, where do you see yourself next year?'\\n   - 'What opportunities might you miss without deeper AI knowledge?'\\n\\n4. PRESENTATION (Solution):\\n   - 'Based on what you said, our Gold Membership seems perfect.'\\n   - 'It includes Generative AI courses, Prompt Engineering, mentorship.'\\n   - 'How does that align with what you're looking for?'\\n   - If interested: 'Would you like me to send details on WhatsApp?' [use send_whatsapp]\\n\\n5. COMMITMENT:\\n   - 'Do you feel ready to start your AI training journey?'\\n   - 'Is anything holding you back from moving forward?'\\n\\n6. CLOSING:\\n   - 'The investment is forty thousand rupees per year. Shall we get you signed up?'\\n   - If yes: Send payment link [use send_whatsapp with payment_link]\\n\\nOBJECTION HANDLING:\\n- PRICE: 'Think of ROI - skills lead to salary increases. We have flexible options too.'\\n- TIME: 'It's self-paced modular learning. Balance with work easily.'\\n- LATER: 'I understand. Shall I schedule a callback?' [use schedule_callback]\\n\\nTOOLS - Use these during conversation:\\n- send_whatsapp: Send course details or payment link\\n- schedule_callback: If they want to talk later\\n- end_call: MUST use when user says bye/goodbye to hang up\\n\\nCALL ENDING:\\n- When user says 'bye', 'thanks bye', 'goodbye', 'talk later':\\n  1. Say warm goodbye: 'Great talking to you! Take care, bye!'\\n  2. Immediately call end_call tool\\n- Do NOT ask more questions after they say bye\\n\\nSTART: 'Hi [Name], this is Vishnu from Freedom with AI. How are you doing today?'\",\n  \"context\": {\n    \"customer_name\": $json.body.contactName || \"Customer\",\n    \"course_name\": \"Gold Membership\",\n    \"price\": \"40,000\"\n  },\n  \"webhookUrl\": \"https://n8n.srv1100770.hstgr.cloud/webhook/call-ended\"\n}) }}",
        "options": {}
      },
      "id": "make-call",
      "name": "Make Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"message\": \"Call initiated\",\n  \"call_uuid\": $json.call_uuid\n}) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Call Started",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [710, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": false,\n  \"error\": $json.error || \"Failed to initiate call\"\n}) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [710, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Call Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [590, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-ended",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "call-ended-webhook",
      "name": "Call Ended Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 520],
      "webhookId": "call-ended"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event",
              "value": "={{ $json.body.event }}"
            },
            {
              "name": "call_uuid",
              "value": "={{ $json.body.call_uuid }}"
            },
            {
              "name": "caller_phone",
              "value": "={{ $json.body.caller_phone }}"
            },
            {
              "name": "duration_seconds",
              "value": "={{ $json.body.duration_seconds }}"
            },
            {
              "name": "transcript",
              "value": "={{ $json.body.transcript }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-call-data",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 520]
    },
    {
      "parameters": {},
      "id": "process-call-ended",
      "name": "Process Call Ended",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [710, 520],
      "notesInFlow": true,
      "notes": "Add your post-call logic here:\n- Update CRM\n- Send follow-up email\n- Log to database\n- Trigger next workflow"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Make Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Outbound Call": {
      "main": [
        [
          {
            "node": "Call Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Success?": {
      "main": [
        [
          {
            "node": "Respond - Call Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ended Webhook": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Process Call Ended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fwai-voice-ai"
  },
  "pinData": {},
  "tags": []
}
